BasedOnStyle: WebKit
AlignTrailingComments: 'true'
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortBlocksOnASingleLine: 'true'
Cpp11BracedListStyle: 'true'
NamespaceIndentation: None
SortIncludes: 'true'
SpaceAfterCStyleCast: 'false'
SpaceAfterLogicalNot: 'false'
SpaceAfterTemplateKeyword: 'true'
SpaceBeforeCpp11BracedList: 'false'
